/Java/NetBeansProjects/PrimeiroProjeto/nbproject/private/
/Java/NetBeansProjects/PrimeiroProjeto/build/
/Java/NetBeansProjects/projetoCrud/nbproject/private/
/Java/NetBeansProjects/projetoCrud/build/
