body{
    background-color: #999;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(8, 60px); /* 8 colunas */
    grid-template-rows: repeat(8, 60px);    /* 8 linhas */
    gap: 1px;
  }
  
  .tabuleiro div {
    width: 60px;
    height: 60px;
    background-color: #eee;
    border: 1px solid #ccc;
  }
  